#home {
  height: 130px;
  padding: 10px 0 10px 40px;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#home h1{
  font-size: 20px;
}

#home input {
  width: 300px;
}